div .actions {
  margin: 10px;

  height: 248px;
  max-height: 248px;
}

div .info {
  margin: 10px;

  height: 248px;
  max-height: 248px;

  width: 500px;
  max-width: 500px;
}

button {
  width: 80px;
  height: 30px;
}